body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    

}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 1px;
    margin: 20px;
    background-color: #222;
    border: 2px solid #fff;
}

.grid div {
    width: 30px;
    height: 30px;
    border: 1px solid #222;
   
}

.taken {
    height: 1px;
}

.tetromino {
    background-color: #f39c12;
}


#StartBtn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#score {
    font-size: 60px;
    margin-bottom: 20px;
    background-color: aquamarine;
    font-size: 30px;
    margin-left: 5px;
}

span {
    font-size: 16px;
}

.mini-grid {
    display: flex;
    flex-direction: column;
    justify-self: center;
 
    align-self: center;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
    background-color: white;
}
.mini-grid div {
    height: 20px;
    width: 20px;

}
.container {
    display: flex;
}

#game-over-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: none;
}

#game-over-message h1 {
    margin: 0;
    font-size: 2rem;
}

#game-over-message button {
    background-color: black;
    color: red;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#game-over-message button:hover {
    background-color: #222;
}

.taken {
    background-color: #f39c12;
}