body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: darkgrey;
    
    

}
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 1px;
    margin: 20px;
    width: 100%;
    background-color: #222;
    border: 2px solid #fff;
}

.grid div {
    width: 30px;
    height: 30px;
    border: 1px solid #222;
   
}

.taken {
    height: 1px;
}

.tetromino {
    background-color: #f39c12;
}


#StartBtn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    align-self: flex-end;
    margin-bottom: 300px;
}

button:hover {
    background-color: #2980b9;
    
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: 60px;
    margin-left: 50px;
}

span {
    font-size: 16px;
}

.mini-grid {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(6,40px);
    grid-template-rows: repeat(6,40px);
    gap: 0;
    width: 120px;
    height: 120px;
    
}
.mini-grid div {
    width: 100%;
    height: 100%;
    background-color: transparent;

}



.container {
    display: flex;
}

#game-over-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: none;
}

#game-over-message h1 {
    margin: 0;
    font-size: 2rem;
}

#game-over-message button {
    background-color: black;
    color: red;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#game-over-message button:hover {
    background-color: #222;
}

.taken {
    background-color: #f39c12;
}

div h1 {
   text-align: center;
}

#highscore {
    display: flex;
    height: 100px;
    width: 100px;
    justify-self: flex-start;
    align-self: flex;
}

#highScore-container {
    display: flex;
    height: 90vh;
    margin-top: 70px;
    background-color: #333;
    color:#fff;
    padding: 10px;
   
}